<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>hinhelper</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
	</head>
	<body>

	<div style="width: 100%;">
		<div class="topLine">
			<div style="float: left;"> <!-- <img src="images/todo.png" / --> </div>
			<div style="float: left;" class="headline">Save words</div>
			<div style="float: right;"><a href="{{ url }}">{{ url_linktext }}</a> {{user.nickname}}
			                           
<script type="text/javascript">
var d = new Date()
document.write(d.getHours())
document.write(".")
document.write(d.getMinutes() + 1)
document.write(".")
document.write(d.getSeconds())
</script>
			                           
			                          			                           
		   </div>
		</div>
	</div>

<div style="clear: both;"/>	

{# Check if we have any words, only in this case render the table #}

{% if numberwords %}
<p> 
<table>
  <tr>
      <th>word</th>
      <th>phonetics</th>
      <th>meaning</th>
      <th>blank URL</th>
      <th>created</th>
      <th>updated</th>
      <th>flag</th>
      <th>ping</th>
    </tr>

{% for word in words %}
<tr> 
<td>
{{word.wordID}}
</td>
<td>
{% if word.phonetics %} {{word.phonetics}} {% endif %}
</td>
<td>
{% if word.meaning %} {{word.meaning}} {% endif %}
</td>
<td>
{% if word.url %}
<a  href="{{word.url}}" > {{word.url}}</a>
{% endif %}
</td>
<td>
{{word.created|date:"d.m.Y"}}
</td>
<td>
{{word.updated|date:"d.m.Y"}}
</td>
<td>
<a class="done" href="/done?id={{word.key.id}}" >Done</a>
</td>
<td>
<a class="email" href="/email?id={{word.key.id}}" >Email</a>
</td>
</tr> 
{% endfor %}
</table>
<p>
 {{numberwords}} words

{% endif %}


<hr />



<div class="headline">Create new Word?</div>

{% if user %}

<form action="/new" method="post">
	<table>
		<tr>
			<td><label for="wordID">Word</label></td>
			<td><input type="text" name="wordID" id="wordIDs" size="40"/></td>
		</tr>
		<tr>
			<td><label for="phonetics">Phonetics</label></td>
			<td><input type="phonetics" name="phonetics" id="phonetics" size="40"/></td>
		</tr>
		<tr>
			<td valign="top"><label for="meaning">Meaning</label></td>
			<td><textarea rows="2" cols="40" name="meaning" id="meaning"></textarea></td>
		</tr>
		<tr>
			<td colspan="2" align="right"><input type="submit" value="Create"/></td>
		</tr>
	</table>
</form>

{% else %}
Login with your Google Account to create and review hindi words.
{% endif%}

</body>
</html>